extends base.pug

block content 
    //- 시청중인 비디오 ID를 가져오기위해 data-id에 video._id를 씀. 
    //- 이러면 javascript파일에서 #videoContainer를 가져온후 videoContainer.dataset.id로 video아이디를 가져올 수 있음
    div#videoContainer(data-id=video._id)
        if isFlyIo
            video(src=video.fileUrl,crossorigin,width=1200,height=675)
        else
            video(src="/" + video.fileUrl,width=1200,height=675) 
        div#videoControls.videoControls.showing
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range", step="1", value=0,min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range", step="0.01", value=0.5,min="0",max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div 
                span#fullScreen
                    i.fas.fa-expand
    if String(video.owner._id) === String (loggedInUser._id)
        div 
            p #{video.description}
            small #{video.createdAt}
        div 
            a(href=`/users/${video.owner._id}`)  Uploaded By #{video.owner.name}
        hr
        //- h4 #{video.views} #{video.views === 1 ? "view" : "views"}
        if String(loggedInUser._id) === String(video.owner._id)
            a(href=`${video.id}/edit`) edit Video &rarr;
            br
            a(href=`${video.id}/delete`) delete Video &rarr;
    div.video__comments-section
        if loggedIn
            div.video__comments-add__container
                div.video__comments-user
                    if isFlyIo
                        img.video__comment-avatar(src=loggedInUser.avatarUrl,crossorigin)
                    else 
                        img.video__comment-avatar(src="/" + loggedInUser.avatarUrl)
                form.video__comments-form#commentForm
                    textarea(cols="30", rows="10", placeholder="Write a nice comment...")
                    button COMMENT
        div.video__comments
            ul
                each comment in video.comments.reverse()
                    li.video__comment(data-id=comment._id)
                        i.fas.fa-comment
                        //- img(src="/" + comment.owner.avatarUrl)
                        span  #{comment.text}
                        if String(loggedInUser._id) === String(comment.owner._id)
                            span.video__comment-deleteBtn="❌"
    block javascript 
         script(src="/static/js/videoPlayer.js")
         if loggedIn
            script(src="/static/js/commentSection.js")
//- 로그인하지않으면 comment form이 안보이니까 어차피 commentSection.js파일에서
//- form 등 태그들을 가져오지 못함. 그렇기에 로그인헀을 경우에만 commentSection.js파일을 사용
//- 폴더명static = frontend폴더와 동일
//- 내가 그렇게 설졍했기때문